[Desktop Entry]
Name=TmuxGUI
Comment=GNOME native frontend for tmux
Exec=tmuxgui
Icon=io.github.vdirienzo.TmuxGUI
Terminal=false
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;Utility;
Keywords=tmux;terminal;session;multiplexer;
StartupNotify=true
